# slicing

In [3]:
#extract values from list (single value,multiple values)
#extracted values must be contiguous gaps are included
#
abc=[1,5,8,6,78,25,36]

In [4]:
#start of slicing:end of slicing
#end value is n-1
abc[2:4]

[8, 6]

In [5]:
#when end point is not mention then all list elements are veiwed wherever the list end
abc[3:]

[6, 78, 25, 36]

In [6]:
#when start point is not mention then all list elements are veiwed
abc[:6]

[1, 5, 8, 6, 78, 25]

In [7]:
abc[::]

[1, 5, 8, 6, 78, 25, 36]

In [8]:
#step by two in third argument
abc[::2]

[1, 8, 78, 36]

In [9]:
#reverse indexing
abc[-5:-1]

[8, 6, 78, 25]

In [11]:
#reverse indexing is empty unless you mention steps in reverse
abc[-1:-5]

[]

In [13]:
#reverse indexing with steps in minus
abc[-1:-5:-1]

[36, 25, 78, 6]

# TUPLES

In [ ]:
#LIST AND TUPLES ARE SAME 
#DIFFERENCE IS THAT TUPLES ELEMENTS ARE IMMUTABLE (VALUES NOT REPLACE) LIST ELEMENTS ARE MUTABLE (VALUES CAN REPLACE)
#in tuples used round brackets

In [15]:
mytupple=(3,4,5,6,7)

In [16]:
type(mytupple)

tuple

In [17]:
del mytupple[0]

TypeError: 'tuple' object doesn't support item deletion

In [18]:
len (mytupple)

5

In [19]:
#access elements from tupple
mytupple[4]

7

In [20]:
#slicing in tupples
mytupple[2:4]

(5, 6)

In [ ]:
#all slicing rules of list are also applied to tupples

In [21]:
#packing and unpacking in list annd tupples
a=("채sad","fahad","채sma","hina")
#packing

In [22]:
w,x,y,z=a
#unpacking
#assign four values to separate variables from a to w,x,y,z

In [23]:
w

'채sad'

In [24]:
x

'fahad'

In [25]:
y

'채sma'

In [26]:
z

'hina'

In [31]:
rectangle=[100,200]
#packing in list

In [32]:
height,width=rectangle
#unpacking in list

In [33]:
height

100

In [30]:
width

200

# for loop

In [ ]:
#loop means up and down (one cycle is a loop)
#task print your name ten times

In [50]:
#step 1 range
#step 2 variable of loop a
#step 3 print
for a in range(10):
        print(a,"hermain")
#range function starts its value by 0

0 hermain
1 hermain
2 hermain
3 hermain
4 hermain
5 hermain
6 hermain
7 hermain
8 hermain
9 hermain

In [47]:
#starting and ending-1 points are mentioned
for a in range(2,5):
        print(a,"hermain")

2 hermain
3 hermain
4 hermain

In [48]:
#starting and ending-1 points and steps arguments are mentioned
#odd sequence is generated
for a in range(1,10,2):
        print(a,"hermain")

1 hermain
3 hermain
5 hermain
7 hermain
9 hermain

In [49]:
#even sequence generate
for a in range(0,10,2):
        print(a,"hermain")

0 hermain
2 hermain
4 hermain
6 hermain
8 hermain

In [56]:
for a in range (10,1,-1):
    print(a,"hermain rais")

10 hermain rais
9 hermain rais
8 hermain rais
7 hermain rais
6 hermain rais
5 hermain rais
4 hermain rais
3 hermain rais
2 hermain rais

In [57]:
for a in range(10,0,-1):
    print(a,"hermain rais")

10 hermain rais
9 hermain rais
8 hermain rais
7 hermain rais
6 hermain rais
5 hermain rais
4 hermain rais
3 hermain rais
2 hermain rais
1 hermain rais

In [63]:
#for loop in list
mylist=["john","ada","lovelace"]
for i in mylist:
    print(i)

john
ada
lovelace

In [70]:
mynum=[2,4,5,8,10]
for i in mynum:
    if(i%2==0):
        print(i)

2
4
8
10

In [71]:
newlist=[2,4,5,8,10]
my_new_list=[]
for i in newlist:
    my_new_list.append(i*2)
print(my_new_list)

[4, 8, 10, 16, 20]

In [74]:
for i in range(6):
    print(i)
    if i==3:
        print(i*2)

0
1
2
3
6
4
5

In [ ]:
#keywords in for loop
#break,continue,pass

In [98]:
for i in range(9):
    if i==6:
        break
    print(i)

0
1
2
3
4
5

In [103]:
for i in range(9):
    if i==7:
        continue
    print(i)
#skip 6 rest of the loop executes

0
1
2
3
4
5
6
8

In [104]:
#without pass error
for i in range(5):

SyntaxError: unexpected EOF while parsing (<ipython-input-104-3663e3ae6c9f>, line 2)

In [105]:
#with pass
for i in range(5):
    pass

In [121]:
a=int(input("enter a table number:"))
for i in range(1,11):
    #print("2 x ",i," = ",a*i)
    print(f"{a} X {i} =  {a*i}")

enter a number:2
2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 =  10
2 X 6 =  12
2 X 7 =  14
2 X 8 =  16
2 X 9 =  18
2 X 10 =  20

In [118]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [122]:
a=int(input("enter a number:"))
start=int(input("enter a number:"))
end=int(input("enter a number:"))
for i in range(start,end):
    print(a," x ",i," = ",a*i)

enter a number:4
enter a number:6
enter a number:12
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44

In [123]:
#nested loops

In [127]:
#loop in string print a character
for a in "pakistan":
    for b in range(5):
        print(a,b,end=' ')

p 0 p 1 p 2 p 3 p 4 a 0 a 1 a 2 a 3 a 4 k 0 k 1 k 2 k 3 k 4 i 0 i 1 i 2 i 3 i 4 s 0 s 1 s 2 s 3 s 4 t 0 t 1 t 2 t 3 t 4 a 0 a 1 a 2 a 3 a 4 n 0 n 1 n 2 n 3 n 4

In [128]:
#loop in string print a character
for a in "pakistan":
    for b in range(5):
        print(a,b)

p 0
p 1
p 2
p 3
p 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [129]:
f_name=["Blueray","Upchunk","Lojack","Gizmo","Do-rang"]
l_name=["Zzzz","Burp","Dogbone","Droop"]
full_name=[]
for f in f_name:
    for l in l_name:
        full_name.append(f+ " " + l)
full_name

['blueray Zzzz',
 'blueray Burp',
 'blueray Dogbone',
 'blueray DROOP',
 'upchunk Zzzz',
 'upchunk Burp',
 'upchunk Dogbone',
 'upchunk DROOP',
 'lojack Zzzz',
 'lojack Burp',
 'lojack Dogbone',
 'lojack DROOP',
 'gizmo Zzzz',
 'gizmo Burp',
 'gizmo Dogbone',
 'gizmo DROOP',
 'do-rang Zzzz',
 'do-rang Burp',
 'do-rang Dogbone',
 'do-rang DROOP']

# changing case

In [131]:
"pakistan".upper()

'PAKISTAN'

In [132]:
"PAKISTAN".lower()

'pakistan'

# slicing in string

In [137]:
sl_str="Pakistan Zindabad"
len(sl_str)

17

In [134]:
sl_str[5:11]

'tan Zi'

In [135]:
sl_str[:11]

'Pakistan Zi'

In [136]:
sl_str[5:]

'tan Zindabad'

# DICTONARIES

In [138]:
#dictionary works on key value pair
#multiple variables in one variable
adict={}

In [139]:
type(adict)

dict

In [141]:
len(adict)

0

In [156]:
bdict={'city':"khi",'population':"30 million"}
#        key   value   key           value
bdict

{'city': 'khi', 'population': '30 million'}

In [157]:
#adding values in already defined dictionary
bdict["hello"]=12345666
bdict

{'city': 'khi', 'population': '30 million', 'hello': 12345666}

In [158]:
#key can be string and integer type
bdict[100]="hundred"
bdict

{'city': 'khi', 'population': '30 million', 'hello': 12345666, 100: 'hundred'}

In [159]:
#are keys can be same in one dictionary?
bdict["city"]="lahore"
bdict
#override of city(key value) from karachi to lahore
#values can be same in one dictionary

{'city': 'lahore',
 'population': '30 million',
 'hello': 12345666,
 100: 'hundred'}

In [160]:
#adding values in adict(empty dictionary)
adict['name']="hamza khan"
adict['age']=34
adict['contact']="2387598427"
adict

{'name': 'hamza khan', 'contact': '2387598427', 'age': 34}

In [146]:
#getting values from dictionary by key
adict['age']

34

In [147]:
#deleting values by key in dictionary
del adict['age']

In [148]:
adict

{'name': 'hamza khan', 'contact': '2387598427'}

In [ ]:
#keys()
#values()
#items()

In [161]:
#getting keys from dictionary by for loop(keys)
for a in adict.keys():
    print(a)

name
contact
age

In [162]:
#getting values from dictionary by for loop(values)
for b in adict.values():
    print(b)

hamza khan
2387598427
34

In [163]:
#getting values and keys from dictionary by for loop(items)
for k,v in adict.items():
    print(k,v)

name hamza khan
contact 2387598427
age 34

In [164]:
#getting values in tupple form packing form by giving one loop variable
for k in adict.items():
    print(k)

('name', 'hamza khan')
('contact', '2387598427')
('age', 34)

# creating list of dictionary

In [169]:
#creating a list of dictionary
eklist=[23,45,6,{"fruit":"apple","food":"biryani"}]
eklist

[23, 45, 6, {'fruit': 'apple', 'food': 'biryani'}]

In [168]:
eklist[3]['food']

'biryani'

In [170]:
#to find if this key in exists in a particular dictionary
"age" in adict

True

# list of dictionaries

In [3]:
a=[{1:100},{2:200},{3:300}]

In [4]:
a[2]

{3: 300}

In [5]:
#incase dictioanry in list
#argument 1:index of a list
#argument 2:key of dictionary  
a[1][2]

200

In [6]:
#dictionary in a list
d={'names':['asad','saad','daad',],'ages':[23,24,25]}

In [7]:
#incase list in dictioanry
#argument 1=key of dictionary
#argument 2=index of a list
d['names'][2]

'daad'